<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-empleado">Agregar</button>
            <table class="table mt-5 table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Jhan</td>
                    <td>Lopez</td>
                    <td>1043876</td>
                    <td>1.800.000</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info me-4"></i>
                        <i class="fa-solid fa-trash fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Kimberly</td>
                    <td>Acuña</td>
                    <td>1043876</td>
                    <td>1.800.000</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info me-4"></i>
                        <i class="fa-solid fa-trash fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody> 
              </table>
        </div>
    </div>
</div>
